<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoWeather</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <img src="/logo.svg" alt="Logo GoWeather" class="logo">
        <h1>Consulte o clima</h1>
        <form id="formclima">
            <input type="text" id="cidade" placeholder="Digite a cidade" required>
            <button type="submit">Consultar</button>
        </form>

        <div id="resultado"></div>

    </div>

    <script src="/script.js"></script>
</body>

</html>